<div class="container mt-5 mb-5">
  <!-- Search and Filter Section -->
  <div class="search-container">
      <div class="row">
          <div class="col-md-12">
              <div class="search-box">
                  <i class="bi bi-search search-icon"></i>
                  <input type="text" class="form-control form-control-lg"
                         placeholder="Tìm kiếm dịch vụ visa...">
              </div>
          </div>
      </div>

      <div class="category-pills">
          <button class="category-pill active">Tất cả</button>
          <button class="category-pill">Châu Á</button>
          <button class="category-pill">Châu Âu</button>
          <button class="category-pill">Châu Mỹ</button>
          <button class="category-pill">Châu Úc</button>
          <button class="category-pill">Châu Phi</button>
      </div>
  </div>

  <!-- Services Grid -->
  <div class="row">
      <h2 class="display-5 mt-3 mb-4">Dịch vụ làm visa</h2>

      <!-- Visa Service Card -->
       <ng-container *ngFor="let item of items" >
        <div class="col-md-4">
          <div class="card service-card">
              <a [routerLink]="['/shopping/detail', item.id]"  rel="noopener noreferrer">
                  <img src="{{item.img}}"
                       alt="Visa Mỹ" class="card-img-top">
              </a>
              <div class="card-body">
                  <h5 class="card-title">{{item.name}}</h5>
                  <!-- <p class="card-text">
                    {{item.description}}
                  </p> -->
              </div>
          </div>
        </div>
       </ng-container>
  </div>
</div>

<app-paging (handelChangePage)="handlePageEvent($event)" [pageSize]="len" [length]="total"></app-paging>
