<div class="page-heading" *ngIf="pageHeading.isShow && currentUrl != '/'">
    <div class="heading-container">
        <h1 class="heading-title">{{ pageHeading.menu.label }}</h1>
        <nav class="breadcrumb-nav">
            <ol class="breadcrumb-list">
                <li class="breadcrumb-item" *ngIf="parts[0] && parts[1]">
                    <a href="/">{{ parts[0] }}</a>
                </li>
                <li class="breadcrumb-item" *ngIf="parts[1]">
                    <a href="#">{{ parts[1] }}</a>
                </li>
                <li class="breadcrumb-item active" *ngIf="parts[2]">
                    {{ parts[2] }}
                </li>
            </ol>
        </nav>
    </div>
</div>