<header class="header header-2 header-intro-clearance">
  <div class="header-middle custom-header">
      <div class="container">
          <div class="header-left">
              <button class="mobile-menu-toggler">
                  <span class="sr-only">Toggle mobile menu</span>
                  <i class="icon-bars"></i>
              </button>

              <a [routerLink]="['/']" routerLinkActive="router-link-active"  class="logo">
                  <img src="../../../assets/images/logo.png" alt="Webixx Logo" width="105" height="25">
              </a>
          </div><!-- End .header-left -->

          <div class="header-center">
              <div class="header-search header-search-extended header-search-visible header-search-no-radius d-none d-lg-block">
                  <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                  <form action="#" method="get">
                      <div class="header-search-wrapper search-wrapper-wide">
                          <label for="q" class="sr-only">Search</label>
                          <input type="search" class="form-control" name="q" id="q" placeholder="Tìm kiếm dịch vụ ..." required>
                          <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                      </div><!-- End .header-search-wrapper -->
                  </form>
              </div><!-- End .header-search -->
          </div>

          <div class="header-right">
             <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
              </div>
              <ng-container *ngFor="let menu of menus">
                <ng-container *ngIf="menu.kind == 'mt' && menu.icon != null">
                  <div [ngClass]="menu.label == 'Account' ? 'account' : 'wishlist'" (click)="onMenuClick(menu)">
                    <a [routerLink]="menu.route" title="My account">
                        <div class="icon">
                            <i  [ngClass]="menu.icon"></i>
                        </div>
                        <p>{{menu.label}}</p>
                    </a>
                </div><!-- End .compare-dropdown -->

                </ng-container>
              </ng-container>
          </div><!-- End .header-right -->
      </div><!-- End .container -->
  </div><!-- End .header-middle -->

  <div class="header-bottom sticky-header">
      <div class="container">
          <div class="header-left">
            <nav class="main-nav">
              <ul class="menu sf-arrows">
                <li *ngFor="let menu of menus">
                   <ng-container *ngIf="menu.kind != 'mt'" >
                    <a [routerLink]="menu.route ? [menu.route] : []"  [ngClass]="{'sf-with-ul': menu.items && menu.items.length > 0}" (click)="onMenuClick(menu)">
                      {{ menu.label }}
                    </a>
                    <!-- First level submenu (items) -->
                    <ul *ngIf="menu.items?.length">
                      <li *ngFor="let item of menu.items">
                        <a [routerLink]="item.route"  [ngClass]="{'sf-with-ul': item.items && item.items.length > 0}" (click)="onMenuClick(item)" >
                          {{ item.label }}
                        </a>

                        <!-- Second level submenu (items) -->
                        <ul *ngIf="item.items?.length">
                          <li *ngFor="let subItem of item.items">
                            <a [routerLink]="subItem.route" (click)="onMenuClick(subItem)">
                              {{ subItem.label }}
                            </a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                   </ng-container>
                </li>
              </ul>
            </nav>
          </div>
      </div><!-- End .container -->
  </div><!-- End .header-bottom -->
</header>


 <!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->
<div class="mobile-menu-container mobile-menu-light">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search product ..." required="">
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>

            <ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="mobile-menu-link" data-toggle="tab" href="#mobile-menu-tab" role="tab" aria-controls="mobile-menu-tab" aria-selected="true">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="mobile-cats-link" data-toggle="tab" href="#mobile-cats-tab" role="tab" aria-controls="mobile-cats-tab" aria-selected="false">Categories</a>
                </li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane fade show active" id="mobile-menu-tab" role="tabpanel" aria-labelledby="mobile-menu-link">
                <nav class="mobile-nav">
                  <ul class="mobile-menu">
                    <li *ngFor="let menu of menus">
                      <ng-container *ngIf="menu.kind != 'mt'" >
                        <a [routerLink]="menu.route ? [menu.route] : []" class="sf-with-ul"  (click)="onMenuClick(menu)">
                          {{ menu.label }}
                        </a>
                        <ul *ngIf="menu.items?.length">
                          <li *ngFor="let item of menu.items" >
                            <a [routerLink]="item.route ? [item.route] : []" class="sf-with-ul" (click)="onMenuClick(item)">
                              {{ item.label }}
                            </a>
                            <!-- Handle third-level submenus -->
                            <ul *ngIf="item.items?.length">
                              <li *ngFor="let subItem of item.items">
                                <a [routerLink]="subItem.route ? [subItem.route] : []" class="sf-with-ul"  (click)="onMenuClick(subItem)">
                                  {{ subItem.label }}
                                </a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </ng-container>
                    </li>
                  </ul>
                </nav><!-- End .mobile-nav -->
              </div><!-- .End .tab-pane -->
            </div><!-- End .tab-content -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
</div>



