<div class="container-fluid footer py-5 wow fadeIn" data-wow-delay="0.2s">
  <div class="container py-5">
      <div class="row g-5">
          <!-- Thông tin liên hệ -->
          <div class="col-md-6 col-lg-6 col-xl-3">
              <div class="footer-item d-flex flex-column">
                  <h4 class="text-secondary mb-4">Thông tin liên hệ</h4>
                  <!-- <a href=""><i class="fa fa-map-marker-alt me-2"></i> 29/12 Nguyễn Bỉnh Khiêm Phường Đa Kao, Quận 1, TP Hồ Chí Minh, Việt Nam</a> -->
                  <a href=""><i class="fas fa-envelope me-2"></i> jessie.le@kalivisa.com</a>
                  <a href=""><i class="fas fa-phone me-2"></i>0938 594 111</a>
                  <a href="" class="mb-3"><i class="fas fa-print me-2"></i>0938 594 111</a>
                  <div class="d-flex align-items-center">
                      <i class="fas fa-share fa-2x text-secondary me-2"></i>
                      <a class="btn mx-1" href="https://www.facebook.com/profile.php?id=61555422686184"><i class="fab fa-facebook-f"></i></a>
                      <a class="btn mx-1" href=""><i class="fab fa-twitter"></i></a>
                      <a class="btn mx-1" href=""><i class="fab fa-instagram"></i></a>
                      <a class="btn mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                  </div>
              </div>
          </div>

          <!-- Giờ làm việc -->
          <!-- <div class="col-md-6 col-lg-6 col-xl-3">
              <div class="footer-item d-flex flex-column">
                  <h4 class="text-secondary mb-4">Giờ làm việc</h4>
                  <div class="mb-3">
                      <h6 class="text-muted mb-0">Thứ Hai - Thứ Sáu:</h6>
                      <p class="text-white mb-0">08:00 sáng đến 05:30 tối</p>
                  </div>
                  <div class="mb-3">
                      <h6 class="text-muted mb-0">Thứ Bảy:</h6>
                      <p class="text-white mb-0">08:00 sáng đến 12:00 trưa</p>
                  </div>
                  <div class="mb-3">
                      <h6 class="text-muted mb-0">Ngày nghỉ:</h6>
                      <p class="text-white mb-0">Chủ Nhật là ngày nghỉ của chúng tôi</p>
                  </div>
              </div>
          </div> -->

          <!-- Dịch vụ của chúng tôi -->
          <div class="col-md-6 col-lg-6 col-xl-3">
              <div class="footer-item d-flex flex-column">
                  <h4 class="text-secondary mb-4">Dịch vụ của chúng tôi</h4>
                  <a href="#" class=""><i class="fas fa-angle-right me-2"></i> Visa Du lịch</a>
                  <a href="#" class=""><i class="fas fa-angle-right me-2"></i> Visa Công tác</a>
                  <a href="#" class=""><i class="fas fa-angle-right me-2"></i> Visa Định cư</a>
                  <a href="#" class=""><i class="fas fa-angle-right me-2"></i> Visa Du học</a>
                  <a href="#" class=""><i class="fas fa-angle-right me-2"></i> Tư vấn Visa</a>
                  <a href="#" class=""><i class="fas fa-angle-right me-2"></i> Visa Làm việc</a>
              </div>
          </div>

          <!-- Đăng ký nhận bản tin -->
          <div class="col-md-6 col-lg-6 col-xl-3">
              <div class="footer-item">
                  <h4 class="text-secondary mb-4">Đăng ký nhận bản tin</h4>
                  <p class="text-white mb-3">Nhận thông tin mới nhất về dịch vụ visa và các chương trình ưu đãi từ chúng tôi.</p>
                  <div class="position-relative mx-auto rounded-pill">
                      <input class="form-control border-0 rounded-pill w-100 py-3 ps-4 pe-5" type="text" placeholder="Nhập email của bạn">
                      <button type="button" class="btn btn-primary rounded-pill position-absolute top-0 end-0 py-2 mt-2 me-2">Đăng ký</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
