<!-- Các Quốc Gia Chúng Tôi Cung Cấp Bắt Đầu -->
<div class="container-fluid country overflow-hidden py-5">
  <div class="container py-5">
      <div class="section-title text-center wow fadeInUp" data-wow-delay="0.1s" style="margin-bottom: 70px;">
          <div class="sub-style">
              <h5 class="sub-title text-primary px-3">CÁC QUỐC GIA CHÚNG TÔI CUNG CẤP</h5>
          </div>
          <h1 class="display-5 mb-4">Dịch vụ nhập cư và visa cho các quốc gia sau</h1>
          <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat deleniti amet at atque sequi quibusdam cumque itaque repudiandae temporibus, eius nam mollitia voluptas maxime veniam necessitatibus saepe in ab? Repellat!</p>
      </div>
      <div class="row g-4 text-center">
          <div class="col-lg-6 col-xl-3 mb-5 mb-xl-0 wow fadeInUp" data-wow-delay="0.1s">
              <div class="country-item">
                  <div class="rounded overflow-hidden">
                      <img src="assets/images/travel/country-1.jpg" class="img-fluid w-100 rounded" alt="Image">
                  </div>
                  <div class="country-flag">
                      <img src="assets/images/travel/brazil.jpg" class="img-fluid rounded-circle" alt="Image">
                  </div>
                  <div class="country-name">
                      <a href="#" class="text-white fs-4">Brazil</a>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-xl-3 mb-5 mb-xl-0 wow fadeInUp" data-wow-delay="0.3s">
              <div class="country-item">
                  <div class="rounded overflow-hidden">
                      <img src="assets/images/travel/country-2.jpg" class="img-fluid w-100 rounded" alt="Image">
                  </div>
                  <div class="country-flag">
                      <img src="assets/images/travel/india.jpg" class="img-fluid rounded-circle" alt="Image">
                  </div>
                  <div class="country-name">
                      <a href="#" class="text-white fs-4">Ấn Độ</a>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-xl-3 mb-5 mb-xl-0 wow fadeInUp" data-wow-delay="0.5s">
              <div class="country-item">
                  <div class="rounded overflow-hidden">
                      <img src="assets/images/travel/country-3.jpg" class="img-fluid w-100 rounded" alt="Image">
                  </div>
                  <div class="country-flag">
                      <img src="assets/images/travel/usa.jpg" class="img-fluid rounded-circle" alt="Image">
                  </div>
                  <div class="country-name">
                      <a href="#" class="text-white fs-4">New York</a>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-xl-3 mb-5 mb-xl-0 wow fadeInUp" data-wow-delay="0.7s">
              <div class="country-item">
                  <div class="rounded overflow-hidden">
                      <img src="assets/images/travel/country-4.jpg" class="img-fluid w-100 rounded" alt="Image">
                  </div>
                  <div class="country-flag">
                      <img src="assets/images/travel/italy.jpg" class="img-fluid rounded-circle" alt="Image">
                  </div>
                  <div class="country-name">
                      <a href="#" class="text-white fs-4">Ý</a>
                  </div>
              </div>
          </div>
          <div class="col-12">
              <a class="btn btn-primary border-secondary rounded-pill py-3 px-5 wow fadeInUp" data-wow-delay="0.1s" href="#">Xem Thêm Quốc Gia</a>
          </div>
      </div>
  </div>
</div>
<!-- Các Quốc Gia Chúng Tôi Cung Cấp Kết Thúc -->

<!-- Thống Kê Bắt Đầu -->
<div class="container-fluid counter-facts overflow-hidden py-5">
  <div class="container py-5">
      <div class="row g-4">
          <div class="col-12 col-sm-6 col-md-6 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
              <div class="counter">
                  <div class="counter-icon">
                      <i class="fas fa-passport"></i>
                  </div>
                  <div class="counter-content">
                      <h3>Loại Visa</h3>
                      <div class="d-flex align-items-center justify-content-center">
                          <span class="counter-value" data-toggle="counter-up">31</span>
                          <h4 class="text-secondary mb-0" style="font-weight: 600; font-size: 25px;">+</h4>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
              <div class="counter">
                  <div class="counter-icon">
                      <i class="fas fa-users"></i>
                  </div>
                  <div class="counter-content">
                      <h3>Thành Viên Nhóm</h3>
                      <div class="d-flex align-items-center justify-content-center">
                          <span class="counter-value" data-toggle="counter-up">377</span>
                          <h4 class="text-secondary mb-0" style="font-weight: 600; font-size: 25px;">+</h4>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
              <div class="counter">
                  <div class="counter-icon">
                      <i class="fas fa-user-check"></i>
                  </div>
                  <div class="counter-content">
                      <h3>Quy Trình Visa</h3>
                      <div class="d-flex align-items-center justify-content-center">
                          <span class="counter-value" data-toggle="counter-up">4.9</span>
                          <h4 class="text-secondary mb-0" style="font-weight: 600; font-size: 25px;">K</h4>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
              <div class="counter">
                  <div class="counter-icon">
                      <i class="fas fa-handshake"></i>
                  </div>
                  <div class="counter-content">
                      <h3>Tỷ Lệ Thành Công</h3>
                      <div class="d-flex align-items-center justify-content-center">
                          <span class="counter-value" data-toggle="counter-up">98</span>
                          <h4 class="text-secondary mb-0" style="font-weight: 600; font-size: 25px;">%</h4>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Thống Kê Kết Thúc -->

<!-- Đào Tạo Bắt Đầu -->
<div class="container-fluid training overflow-hidden bg-light py-5">
  <div class="container py-5">
      <div class="section-title text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">
          <div class="sub-style">
              <h5 class="sub-title text-primary px-3">KIỂM TRA KHÓA ĐÀO TẠO CỦA CHÚNG TÔI</h5>
          </div>
          <h1 class="display-5 mb-4">Nhận Dịch Vụ Đào Tạo Tốt Nhất Với Travisa Của Chúng Tôi</h1>
          <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat deleniti amet at atque sequi quibusdam cumque itaque repudiandae temporibus, eius nam mollitia voluptas maxime veniam necessitatibus saepe in ab? Repellat!</p>
      </div>
      <div class="row g-4">
          <div class="col-lg-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
              <div class="training-item">
                  <div class="training-inner">
                      <img src="assets/images/travel/training-1.jpg" class="img-fluid w-100 rounded" alt="Image">
                      <div class="training-title-name">
                          <a href="#" class="h4 text-white mb-0">IELTS</a>
                          <a href="#" class="h4 text-white mb-0">Đào Tạo</a>
                      </div>
                  </div>
                  <div class="training-content bg-secondary rounded-bottom p-4">
                      <a href="#"><h4 class="text-white">Đào Tạo IELTS</h4></a>
                      <p class="text-white-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, veritatis.</p>
                      <a class="btn btn-secondary rounded-pill text-white p-0" href="#">Xem Thêm <i class="fa fa-arrow-right"></i></a>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
              <div class="training-item">
                  <div class="training-inner">
                      <img src="assets/images/travel/training-2.jpg" class="img-fluid w-100 rounded" alt="Image">
                      <div class="training-title-name">
                          <a href="#" class="h4 text-white mb-0">TOEFL</a>
                          <a href="#" class="h4 text-white mb-0">Đào Tạo</a>
                      </div>
                  </div>
                  <div class="training-content bg-secondary rounded-bottom p-4">
                      <a href="#"><h4 class="text-white">Đào Tạo TOEFL</h4></a>
                      <p class="text-white-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, veritatis.</p>
                      <a class="btn btn-secondary rounded-pill text-white p-0" href="#">Xem Thêm <i class="fa fa-arrow-right"></i></a>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
              <div class="training-item">
                  <div class="training-inner">
                      <img src="assets/images/travel/training-3.jpg" class="img-fluid w-100 rounded" alt="Image">
                      <div class="training-title-name">
                          <a href="#" class="h4 text-white mb-0">PTE</a>
                          <a href="#" class="h4 text-white mb-0">Đào Tạo</a>
                      </div>
                  </div>
                  <div class="training-content bg-secondary rounded-bottom p-4">
                      <a href="#"><h4 class="text-white">Đào Tạo PTE</h4></a>
                      <p class="text-white-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, veritatis.</p>
                      <a class="btn btn-secondary rounded-pill text-white p-0" href="#">Xem Thêm <i class="fa fa-arrow-right"></i></a>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
              <div class="training-item">
                  <div class="training-inner">
                      <img src="assets/images/travel/training-4.jpg" class="img-fluid w-100 rounded" alt="Image">
                      <div class="training-title-name">
                          <a href="#" class="h4 text-white mb-0">OET</a>
                          <a href="#" class="h4 text-white mb-0">Đào Tạo</a>
                      </div>
                  </div>
                  <div class="training-content bg-secondary rounded-bottom p-4">
                      <a href="#"><h4 class="text-white">Đào Tạo OET</h4></a>
                      <p class="text-white-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, veritatis.</p>
                      <a class="btn btn-secondary rounded-pill text-white p-0" href="#">Xem Thêm <i class="fa fa-arrow-right"></i></a>
                  </div>
              </div>
          </div>
          <div class="col-12 text-center">
              <a class="btn btn-primary border-secondary rounded-pill py-3 px-5 wow fadeInUp" data-wow-delay="0.1s" href="#">Xem Thêm</a>
          </div>
      </div>
  </div>
</div>
