<div class="container-fluid contact overflow-hidden py-5">
  <div class="container py-5">
      <div class="row g-5 mb-5">
          <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.1s">
              <div class="sub-style">
                  <h5 class="sub-title text-primary pe-3">Liên Hệ Nhanh</h5>
              </div>
              <h1 class="display-5 mb-4">Có Câu Hỏi? Đừng Ngần Ngại Liên Hệ Với Chúng Tôi</h1>
              <div class="d-flex border-bottom mb-4 pb-4">
                  <i class="fas fa-map-marked-alt fa-4x text-primary bg-light p-3 rounded"></i>
                  <div class="ps-3">
                      <h5>Địa Chỉ</h5>
                      <p>29/12 Nguyễn Bỉnh Khiêm Phường Đa Kao, Quận 1, TP Hồ Chí Minh, Việt Nam</p>
                  </div>
              </div>
              <div class="row g-3">
                  <div class="col-xl-6">
                      <div class="d-flex">
                          <i class="fas fa-tty fa-3x text-primary"></i>
                          <div class="ps-3">
                              <h5 class="mb-3">Liên Hệ Nhanh</h5>
                              <div class="mb-3">
                                  <h6 class="mb-0">Điện Thoại:</h6>
                                  <a href="#" class="fs-5 text-primary">0938 594 111</a>
                              </div>
                              <div class="mb-3">
                                  <h6 class="mb-0">Email:</h6>
                                  <a href="#" class="fs-5 text-primary">jessie.le@kalivisa.com</a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-6">
                      <div class="d-flex">
                          <i class="fas fa-clone fa-3x text-primary"></i>
                          <div class="ps-3">
                              <h5 class="mb-3">Giờ Làm Việc</h5>
                              <div class="mb-3">
                                  <h6 class="mb-0">Thứ Hai - Thứ Sáu:</h6>
                                  <a href="#" class="fs-5 text-primary">08:00 sáng đến 17:30 tối</a>
                              </div>
                              <div class="mb-3">
                                  <h6 class="mb-0">Thứ Bảy:</h6>
                                  <a href="#" class="fs-5 text-primary">08:00 sáng đến 12:00 trưa</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="d-flex align-items-center pt-3">
                  <div class="me-4">
                      <div class="bg-light d-flex align-items-center justify-content-center" style="width: 90px; height: 90px; border-radius: 10px;"><i class="fas fa-share fa-3x text-primary"></i></div>
                  </div>
                  <div class="d-flex">
                      <a class="btn btn-secondary border-secondary me-2 p-0" href="">facebook <i class="fas fa-chevron-circle-right"></i></a>
                      <a class="btn btn-secondary border-secondary mx-2 p-0" href="">twitter <i class="fas fa-chevron-circle-right"></i></a>
                      <a class="btn btn-secondary border-secondary mx-2 p-0" href="">instagram <i class="fas fa-chevron-circle-right"></i></a>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.3">
              <div class="sub-style">
                  <h5 class="sub-title text-primary pe-3">Hãy Kết Nối</h5>
              </div>
              <h1 class="display-5 mb-4">Gửi Tin Nhắn Của Bạn</h1>
              <p class="mb-3">Hiện tại biểu mẫu liên hệ không hoạt động. Bạn có thể tải về một biểu mẫu liên hệ hoạt động với Ajax & PHP chỉ trong vài phút. Chỉ cần sao chép và dán các tệp, thêm một ít mã và bạn đã hoàn tất. <a class="text-primary fw-bold" href="https://htmlcodex.com/contact-form">Tải Ngay</a>.</p>
              <form>
                  <div class="row g-4">
                      <div class="col-lg-12 col-xl-6">
                          <div class="form-floating">
                              <input type="text" class="form-control" id="name" placeholder="Tên Của Bạn">
                              <label for="name">Tên Của Bạn</label>
                          </div>
                      </div>
                      <div class="col-lg-12 col-xl-6">
                          <div class="form-floating">
                              <input type="email" class="form-control" id="email" placeholder="Email Của Bạn">
                              <label for="email">Email Của Bạn</label>
                          </div>
                      </div>
                      <div class="col-lg-12 col-xl-6">
                          <div class="form-floating">
                              <input type="phone" class="form-control" id="phone" placeholder="Điện Thoại">
                              <label for="phone">Điện Thoại Của Bạn</label>
                          </div>
                      </div>
                      <div class="col-lg-12 col-xl-6">
                          <div class="form-floating">
                              <input type="text" class="form-control" id="project" placeholder="Dự Án">
                              <label for="project">Dự Án Của Bạn</label>
                          </div>
                      </div>
                      <div class="col-12">
                          <div class="form-floating">
                              <input type="text" class="form-control" id="subject" placeholder="Chủ Đề">
                              <label for="subject">Chủ Đề</label>
                          </div>
                      </div>
                      <div class="col-12">
                          <div class="form-floating">
                              <textarea class="form-control" placeholder="Để lại tin nhắn ở đây" id="message" style="height: 160px"></textarea>
                              <label for="message">Tin Nhắn</label>
                          </div>
                      </div>
                      <div class="col-12">
                          <button class="btn btn-primary w-100 py-3">Gửi Tin Nhắn</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
      <div class="office pt-5">
      <div class="wow fadeInUp" data-wow-delay="0.1s">
              <div class="pt-5 wow zoomIn" data-wow-delay="0.1s">
                  <div class="rounded h-100">
                      <iframe class="rounded w-100"
                      style="height: 500px;" src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d18361.812210120253!2d106.69717607759851!3d10.787508593653644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m5!1s0x317529b9efa32261%3A0xa73afccb261e29ee!2zS2FsaXZpc2EgJiBUb3VycywgxJDGsOG7nW5nIE5ndXnhu4VuIELhu4luaCBLaGnDqm0sIERhIEthbywgRGlzdHJpY3QgMSwgSG8gQ2hpIE1pbmggQ2l0eQ!3m2!1d10.7890753!2d106.702648!4m0!5e1!3m2!1sen!2s!4v1737735230010!5m2!1sen!2s"
                      loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </div>
              </div>
      </div>
  </div>
</div>
