  <app-slider></app-slider>
  <div class="mb-3 mb-lg-5"></div><!-- End .mb-3 mb-lg-5 -->

  <div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-xl-5 wow fadeInLeft" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                <div class="bg-light rounded">
                    <img src="assets/images/travel/about-2.png" class="img-fluid w-100" style="margin-bottom: -7px;" alt="Image">
                    <img src="assets/images/travel/about-3.jpg" class="img-fluid w-100 border-bottom border-5 border-primary" style="border-top-right-radius: 300px; border-top-left-radius: 300px;" alt="Image">
                </div>
            </div>
            <div class="col-xl-7 wow fadeInRight" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight;">
                <h5 class="sub-title pe-3">Về chúng tôi</h5>
                <h1 class="display-5 mb-4">Chúng tôi là Công ty Tư vấn Xuất nhập cảnh Uy tín.</h1>
                <p class="mb-4">Chúng tôi cam kết mang đến những dịch vụ tư vấn xuất nhập cảnh chuyên nghiệp và đáng tin cậy. Với đội ngũ chuyên gia giàu kinh nghiệm, chúng tôi sẽ đồng hành cùng bạn trên hành trình đến với những vùng đất mới.</p>
                <div class="row gy-4 align-items-center">
                    <div class="col-12 col-sm-6 d-flex align-items-center">
                        <i class="fas fa-map-marked-alt fa-3x text-secondary"></i>
                        <h5 class="ms-4">Tài nguyên Xuất nhập cảnh Tốt nhất</h5>
                    </div>
                    <div class="col-12 col-sm-6 d-flex align-items-center">
                        <i class="fas fa-passport fa-3x text-secondary"></i>
                        <h5 class="ms-4">Dịch vụ Visa Hồi hương</h5>
                    </div>
                    <div class="col-4 col-md-3">
                        <div class="bg-light text-center rounded p-3">
                            <div class="mb-2">
                                <i class="fas fa-ticket-alt fa-4x text-primary"></i>
                            </div>
                            <h1 class="display-5 fw-bold mb-2">34</h1>
                            <p class="text-muted mb-0">Năm Kinh nghiệm</p>
                        </div>
                    </div>
                    <div class="col-8 col-md-9">
                        <div class="mb-5">
                            <p class="text-primary h6 mb-3"><i class="fa fa-check-circle text-secondary me-2"></i> Hỗ trợ 100% Chính xác</p>
                            <p class="text-primary h6 mb-3"><i class="fa fa-check-circle text-secondary me-2"></i> Quy trình Nhanh chóng & Đáng tin cậy</p>
                            <p class="text-primary h6 mb-3"><i class="fa fa-check-circle text-secondary me-2"></i> Tư vấn Chính xác & Chuyên nghiệp</p>
                        </div>
                        <div class="d-flex flex-wrap">
                            <div id="phone-tada" class="d-flex align-items-center justify-content-center me-4">
                                <a href="" class="position-relative wow tada" data-wow-delay=".9s" style="visibility: visible; animation-delay: 0.9s; animation-name: tada;">
                                    <i class="fa fa-phone-alt text-primary fa-3x"></i>
                                    <div class="position-absolute" style="top: 0; left: 25px;">
                                        <span><i class="fa fa-comment-dots text-secondary"></i></span>
                                    </div>
                                </a>
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                                <span class="text-primary">Bạn có thắc mắc?</span>
                                <span class="text-secondary fw-bold fs-5" style="letter-spacing: 2px;">Liên hệ miễn phí: +0123 456 7890</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- End .banner-group -->

  <div class="mb-3"></div><!-- End .mb-6 -->

  <div class="container-fluid country overflow-hidden py-5">
    <div class="container">
        <div class="section-title text-center wow fadeInUp" data-wow-delay="0.1s" style="margin-bottom: 70px;">
            <div class="sub-style">
                <h5 class="sub-title text-primary px-3">CÁC QUỐC GIA CHÚNG TÔI HỖ TRỢ</h5>
            </div>
            <h1 class="display-5 mb-4">Dịch vụ Visa & Xuất nhập cảnh cho các Quốc gia sau</h1>
            <p class="mb-0">Chúng tôi cung cấp dịch vụ tư vấn và hỗ trợ visa chuyên nghiệp cho nhiều quốc gia trên thế giới. Hãy để chúng tôi đồng hành cùng bạn trên hành trình khám phá những vùng đất mới.</p>
        </div>
        <div class="row g-4 text-center">
            <div class="col-lg-6 col-xl-3 mb-5 mb-xl-0 wow fadeInUp" data-wow-delay="0.1s">
                <div class="country-item">
                    <div class="rounded overflow-hidden">
                        <img src="assets/images/travel/country-1.jpg" class="img-fluid w-100 rounded" alt="Image">
                    </div>
                    <div class="country-flag">
                        <img src="assets/images/travel/brazil.jpg" class="img-fluid rounded-circle" alt="Image">
                    </div>
                    <div class="country-name">
                        <a href="#" class="text-white fs-4">Brazil</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3 mb-5 mb-xl-0 wow fadeInUp" data-wow-delay="0.3s">
                <div class="country-item">
                    <div class="rounded overflow-hidden">
                        <img src="assets/images/travel/country-2.jpg" class="img-fluid w-100 rounded" alt="Image">
                    </div>
                    <div class="country-flag">
                        <img src="assets/images/travel/india.jpg" class="img-fluid rounded-circle" alt="Image">
                    </div>
                    <div class="country-name">
                        <a href="#" class="text-white fs-4">Ấn Độ</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3 mb-5 mb-xl-0 wow fadeInUp" data-wow-delay="0.5s">
                <div class="country-item">
                    <div class="rounded overflow-hidden">
                        <img src="assets/images/travel/country-3.jpg" class="img-fluid w-100 rounded" alt="Image">
                    </div>
                    <div class="country-flag">
                        <img src="assets/images/travel/usa.jpg" class="img-fluid rounded-circle" alt="Image">
                    </div>
                    <div class="country-name">
                        <a href="#" class="text-white fs-4">New York</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3 mb-5 mb-xl-0 wow fadeInUp" data-wow-delay="0.7s">
                <div class="country-item">
                    <div class="rounded overflow-hidden">
                        <img src="assets/images/travel/country-4.jpg" class="img-fluid w-100 rounded" alt="Image">
                    </div>
                    <div class="country-flag">
                        <img src="assets/images/travel/italy.jpg" class="img-fluid rounded-circle" alt="Image">
                    </div>
                    <div class="country-name">
                        <a href="#" class="text-white fs-4">Ý</a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <a class="btn btn-primary border-secondary rounded-pill py-3 px-5 wow fadeInUp" data-wow-delay="0.1s" href="#">Xem thêm Quốc gia</a>
            </div>
        </div>
    </div>
</div>








