/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
}

.section {
  padding: 60px 0;
}

/* Hero Section Styles */
.hero-section {
  background: linear-gradient(to right, #134a86, #134a86);
  color: #ffffff;
}



.icon-box {
  width: 60px; /* Kích thước cố định cho box icon */
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px; /* Điều chỉnh khoảng cách so với tiêu đề */
  background-color: #134a86; /* Nền box icon */
  border-radius: 50%; /* Đường tròn */
}

.icon-box i {
  font-size: 2rem; /* Kích thước icon */
}

/* Testimonials */
.testimonial-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  transition: box-shadow 0.3s;
}

.testimonial-card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.testimonial-card p {
  font-style: italic;
}

/* Responsive Styles */
@media (max-width: 767.98px) {
  .hero-section h2 {
    font-size: 2rem; /* Giảm kích thước tiêu đề cho màn hình nhỏ */
  }


  .col-md-4 {
    flex: 0 0 100%; /* Hiển thị dịch vụ trên 1 hàng */
    max-width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {


  .col-lg-4, .col-md-6 {
    flex: 0 0 50%; /* Hiển thị 2 dịch vụ trên 1 hàng */
    max-width: 50%;
  }
}

@media (min-width: 992px) {


  .col-lg-4 {
    flex: 0 0 33.333%; /* Hiển thị 3 dịch vụ trên 1 hàng */
    max-width: 33.333%;
  }
}

.service-card {
  transition: transform 0.3s ease;
  margin-bottom: 20px;
  height: 100%;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}
