<div class="container mt-4">
  <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
      <thead class="table-dark">
        <tr>
          <th *ngFor="let column of tableConfig.columns">{{ column.header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of data" (click)="clickRowItem(row)">
          <td *ngFor="let column of tableConfig.columns">{{ row[column.field] }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-container *ngIf="isPaging">
    <app-paging (handelChangePage)="handlePageEvent($event)" [pageSize]="len" [length]="total" [isChangePageSize]="isChangePageSize"></app-paging>
  </ng-container>
</div>
