<div class="row g-4">
    <!-- Blog Item 1 -->
    <div data-wow-delay="0.1s" class="col-lg-6 col-xl-3 wow fadeInUp" *ngFor="let blog of blogs">
      <div class="training-item">
        <div class="training-inner">
          <img src="assets/images/travel/training-1.jpg" alt="Blog Image" class="img-fluid w-100 rounded">
          <div class="training-title-name">
            <a [routerLink]="['/blog/blog-detail', blog.id]" class="h4 text-white mb-0">{{blog.title}}</a>
            <p class="h6 text-white mb-0">Tác giả: {{blog.author}}</p>
          </div>
        </div>
        <div class="training-content bg-secondary rounded-bottom p-4">
          <a [routerLink]="['/blog/blog-detail', blog.id]">
            <h4 class="text-white">{{blog.author}}</h4>
          </a>
          <p class="text-white-50">{{blog.description}}</p>
          <a [routerLink]="['/blog/blog-detail', blog.id]" class="btn btn-secondary rounded-pill text-white p-0">
            Xem thêm <i class="fa fa-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>

    <app-paging [pageSize]="1" [length]="blogs.length"></app-paging>
</div>